@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:@{font-weight-bold}');

@amber: #f07d04;
@black: #000;
@font-title: @font-family;
@primary-color: @black;
@secondary-color: @amber;
@sidebar-text-color: @white;
@tertiary-color: @black;

.module-user.location-login {
  background-image: url(https://www.clubsfromabove.com/static/img/photos/barnet/the_hive_stadium/aerial_photo_of_barnet_the_hive_stadium_200503202912_w1500.jpg);
}

.navigation {
  height: 61px;
  border-style: none;
}

.navigation-bg {
  background: url(https://www.barnetfc.com/siteassets/headers-and-footers/efl_watermark_logos_cropped_barnet.png) @amber no-repeat left/contain;
}

.navigation-product-name {
  font: @font-weight-bold 18px/45px 'Josefin Sans', @font-family;
  text-transform: uppercase;
}

.action-secondary {
  border-color: @white;
  color: @white;
  &:focus {
    border-color: @white;
  }
  &:hover {
    border-color: @white;
    background-color: @white;
    color: @black;
    i {
      color: @black;
    }
  }
}

.modal .modal-popup-toolbar button {
  color: inherit;
}

.module-user .login-fields .login-input-username, 
.module-user .login-fields .login-input-password {
  background-color: fade(@black, 40%);
}
